{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weather.css' %}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        .lunar {
            color: var(--color-text);
            font-family: sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.5;
            -webkit-font-smoothing: antialiased;
            margin-top: -10px;
        }

        .city {
            display: inline-block;
            margin-left: 5px;
            font-size: 20px
        }

    </style>
</head>

<body class="blackBody">
<div class="container" style="display: block;">
    <div class="top left">
        <div id="module_2_clock" class="module clock">
            <div id="myclock" class="clock">
                <div class="date normal small"></div>
                <div id="clock">

                    <p class="time bright large light bright"
                       style="text-shadow: 0 0 20px #0aafe6, 0 0 20px rgb(10 175 230 / 0%);font-size: 90px;display: inline-block;font-weight: 700;font-family: sans-serif"></p>
                    <span style="margin-left: -10px;font-size: 30px;font-weight:500" class="dimmed"></span>
                    <div class="lunar" style="">
                        <span class="ganzhi"></span>
                        <span class="yueri" style="margin-left: 10px"></span>
                        <span class="jieri" style="margin-left: 10px"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top right">
    <div class="windsun small dimmed" style="display: block;">
        <span class="wind"></span>
        <span class="wi wi-strong-wind xdimmed"></span>
        <span class="windpower"></span>
        <span class="fa fa-tint " style="margin-left: 10px"></span>
        <span style="display: inline-block;margin-left: 5px;font-size: 20px" class="humidity-padding"></span>
        <span class="fa fa-home "></span>
        <span class='city' style=""></span>
    </div>
    <div class="temp" style="display: block;">
        <span class="icon dimmed wi"></span><span class="weather-text" style="font-size: 20px;"></span>
        <span class="temperature"></span><sup style="display: none">℃</sup>
    </div>
    <div class="forecast small dimmed" style="display: block;display: none">
        <table class="forecast-table">
            <tbody>
            <tr>
                <td style="opacity:1" class="day">Mon</td>
                <td style="opacity:1" class="icon-small wi-rain"></td>
                <td style="opacity:1" class="temp-max">26.2</td>
                <td style="opacity:1" class="temp-min">26.0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="lower-third center-hor">
    <div class="compliment light interactive">帅爆了</div>
</div>


</body>
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
<script type="text/javascript" src="{% static 'js/interactive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/weather.js' %}"></script>


</html>
